{% block styles %}
  <link rel="stylesheet" href="/css/custom.css" />
{% endblock %}

{% block hierarchy_view %}

  {% set parent_packages = h.ord_hierarchy_parent_packages(pkg.id) %}
  {% if parent_packages %}
    <hr>
    <div class="panel-group" id="hierarchy-accordion-parent">
        <div class="panel-child_datasets">
          <div class="panel-heading">
            <h2 class="panel-title panel-title-hierarchy">
              <a class="hierarchy-accordion-button accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-parent" aria-expanded="true" aria-controls="#collapse-parent">
                {{ parent_packages|length}} {{_('Parent Datasets') }}
              </a>
            </h2>
          </div>
         <div id="collapse-parent" aria-expanded="true" class="panel-collapse accordion-collapse collapse show" data-bs-parent="#collapse-parent">
                <div class="panel-body hierarchy-panel-body" bis_skin_checked="1">
                  {% for package in parent_packages %}
                  
                  {% set title = package.title or package.name %}
                  {% set display_title = title | truncate(50) %}

                   <div class="hierarchy_dataset_item_container">
                      {#<h4><a href="/dataset/{{ package.id }}">- &nbsp;&nbsp; {{package.title}}</a></h4>#}
                     <div class="hierarchy_dataset_item">
                        <div class="hierarchy_list_item-grid-container">
                          <div class="hierarchy_list_item_title"><h4><a href="{{h.url_for('%s.read' % package.type, id=package.name)}}" title="{{display_title}}">{{ display_title }}</a></h4></div>
                          <div class="hierarchy_list_item_resources"><p>Resources: {{ package.resources|length }}</p></div>
                          <div class="hierarchy_list_item_date"><p>Last Updated: {{ h.ord_hierarchy_get_dataset_last_updated_date(package) }}</p></div>
                        </div>
                     </div>
                    </div>
                  {% endfor %}
                </div>
          </div>
        </div>
    </div>
  {% endif %}

  {% set child_datasets = h.ord_hierarchy_child_packages(pkg.id) %}
    {% if child_datasets %}
      <hr>
      <div class="panel-group" id="hierarchy-accordion-child">
        <div class="panel-child_datasets">
          <div class="panel-heading">
            <h2 class="panel-title panel-title-hierarchy">
              <a class="hierarchy-accordion-button accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-child" aria-expanded="true" aria-controls="#collapse-child">
                {{ child_datasets|length}} {{ _(' Child Datasets') }}
              </a>
            </h2>
          </div>
          <div id="collapse-child" aria-expanded="true" class="panel-collapse accordion-collapse collapse show" data-bs-parent="#collapse-child">
                <div class="panel-body hierarchy-panel-body"bis_skin_checked="1">
                  {% for package in child_datasets %}
                    {% set title = package.title or package.name %}
                    {% set display_title = title | truncate(50) %}

                   <div class="hierarchy_dataset_item_container">
                      {#<h4><a href="/dataset/{{ package.id }}">- &nbsp;&nbsp; {{package.title}}</a></h4>#}
                     <div class="hierarchy_dataset_item">
                        <div class="hierarchy_list_item-grid-container">
                          <div class="hierarchy_list_item_title"><h4><a href="{{h.url_for('%s.read' % package.type, id=package.name)}}" title="{{display_title}}">{{ display_title }}</a></h4></div>
                          <div class="hierarchy_list_item_resources"><p>Resources: {{ package.resources|length }}</p></div>
                          <div class="hierarchy_list_item_date"><p>Last Updated: {{ h.get_dataset_date_package_list_view(package) }}</p></div>
                        </div>
                     </div>
                    </div>
                  {% endfor %}
                </div>
          </div>
        </div>
      </div>
    {% endif %}
  {% endblock %}

