.panel-child_datasets {
    color: #1c6387;
}

.panel-group {
    padding-bottom: 10px;
    /*border: 1px solid rgb(191, 191, 191)*/
}

.panel-body {
    /*border: 1px solid rgb(191, 191, 191);*/
    border-radius: 2px;
}

.panel-heading {
    border-left: 0;
    padding-left: 0px !important;
    border-bottom: 0px !important;
}



.hierarchy_accordion_title {
    color: black;
    font-size: 20px;
    font-weight: 500;
}

.hierarchy_accordion_toggle:link {
    text-decoration: none;
}

.hierarchy_dataset_item_container {
    /*border: 1px solid rgb(191, 191, 191);*/
    padding-bottom: 10px;
    padding-left: 10px;
}

.hierarchy_dataset_item {
    padding-top: 10px;
}

.hierarchy_dataset_item:hover {
 background-color: #eee;
}

.hierarchy_list_item_title {
    grid-area: title;
    padding-left: 10px;
    padding-right: 10px;
}

.hierarchy_list_item_title > h4 > a {
    color: black !important;
}

.hierarchy_list_item_date {
    grid-area: date;
    padding-left: 10px;
    padding-right: 10px;
}

.hierarchy_list_item_date > p {
    font-size: 12px;
    font-weight: bold;
}

.hierarchy_list_item_resources {
    grid-area: resources;
    text-align: right;
    padding-left: 10px;
    padding-right: 10px;
}

.hierarchy_list_item_resources > p {
    margin: 12px;
    font-size: 12px;
    font-weight: bold;
}

.hierarchy_list_item-grid-container {
  display: grid;
  grid-template-areas:
    'title title title title title resources'
    'date date date date date date';
  /* border: 1px solid rgb(191, 191, 191); */
}

.hierarchy-accordion-button {
    background-color: white;
    font-size: inherit;
    padding-left: 0px;
}

.hierarchy-accordion-button:not(.collapsed) {
    color: #333333;
    background-color: white;
    box-shadow: none;
}